<ion-content [fullscreen]="true" class="landing-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="landing-container">
    <img src="assets/images/logo.jpg" alt="Logo" class="logo" /> <!-- Asegúrate de que la ruta de la imagen sea correcta -->

    <h1 class="welcome-title">Gestión Eficiente</h1>
    
    <p class="info-text">Registra asistencia y agenda reuniones de manera sencilla.</p>
    
    <ion-button expand="full" color="primary" routerLink="/login">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>




